@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
}

body {
	font-family: "Lora", "Times New Roman", serif;
}

.container {
	@apply w-full m-auto;
	max-width: 740px;
}

p {
	line-height: 1.5;
	@apply mb-8 text-lg;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@apply mb-2;
}

section h1 {
	font-size: 250%;
}

section h2 {
	font-size: 175%;
}

a {
	@apply underline;
}

.anchor-link {
	visibility: hidden;
	@apply text-gray-600;
}

:hover > .anchor-link {
	visibility: visible;
}

small {
	display: inline-block;
	font-size: 80%;
	line-height: normal;
}
