@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
}

body {
	font-family: "Lora", "Times New Roman", serif;
}

h1,h2,h3,h4,h5,h6 {
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a {
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	line-height: 1.5;
	@apply mb-4;
}

.container {
	@apply w-full m-auto px-4;
	max-width: 740px;
}

a {
	@apply underline;
}

.anchor-link {
	visibility: hidden;
	@apply text-gray-500 ml-2;
}

:hover > .anchor-link {
	visibility: visible;
}

small {
	display: inline-block;
	@apply text-xs;
	line-height: normal;
}

ul {
	list-style: disc;
	margin-left: 2rem;
	@apply mb-4;
}
