@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Lora", "Times New Roman", serif;
}

.container {
	@apply w-full m-auto;
	max-width: 740px;
}

p {
	line-height: 1.5;
	@apply mb-8 text-lg;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	@apply underline;
}
